body{
    background-image: url("drum.png");
    margin: 0 auto;
    background-attachment: fixed;
    background-repeat: no-repeat, repeat;
    background-position: center;

}
.title{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;


}
.description{
    font-size: 20px;
    text-align: center;

}

#playBtn, #playBtn2, #playBtn3, #playBtn4{
    width: 300px;
    height: 40px;
    border-radius: 12px;
}
#record, #record2, #record3 , #record4{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: red;



}
#middle-button{
    text-align: center;
    
}